.hero-container {
    position  : relative;
    width     : 100%;
    min-height: 100vh;
    overflow  : hidden;
    gap       : 3rem;
    margin: 0;
    padding: 0;
}

.nav-container {
    position: absolute;
    top     : 0;
}

.grafo-container {
    position: absolute;
    /*absolute hace que .grafo-hero se posicione dentro de su contenedor .hero-container que no se salga de su contendeor padre.*/
    top     : 0;
    /* asegura que empieze desde arriba y desde la izquierda*/
    left    : 0;
    width   : 100%;
    height  : 100%;
    z-index : -1;
    margin: 0;
    padding: 0;

}

.hero-container h1 {
    font-size  : clamp(0.5rem, 0.625vw + 2.625rem, 5.25rem);
    font-weight: bold;
    text-align : center;
    transition: transform 0.2s ease-in-out;
}


.hero-container h1:hover{
    transform: scale(1.2);
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);

}

.social-container {
    position: relative;
    z-index : 1;
}