.content-social{ 
    gap: 4vw;
}

.icons{
    gap:4vw;
}


.icons img{
    width: clamp(1.6rem, 1.6vw + 1.6rem, 3.25rem);
    height: clamp(3rem, 2vw + 2rem, 5.25rem);
}
.email img{
    width: clamp(1.5rem, 1.5vw + 1.5rem, 3rem);
    height: clamp(3rem, 2vw + 2rem, 4rem);
}

.icons img:hover,.email img:hover {
    transform : translateY(-10px);
    transform: scale(1.1);

}



.big img{
    width: clamp(4rem, 4vw + 4rem, 9rem);
    height: clamp(4rem, 4vw + 4rem, 9rem);
}