:root {
  --black           : #042222;
  --blackT          : rgba(4, 34, 34, 0.5);
  --white           : rgb(241, 247, 247);
  --whiteT          : rgba(241, 247, 247, 0.5);
  --dark-green      : #03624c;
  --dark-greenT     : rgba(3, 98, 76, 0.5);
  --pastel-green    : #2cc295;
  --pastel-greenT   : rgba(44, 194, 149, 0.5);
  --strong-green    : #00df82;
  --strong-greenT   : rgba(0, 223, 130, 0.5);
  --cyberpunk-yellow: #DAFF3E;

  --main-font: 'Roboto Mono', monospace;

}

* {
  box-sizing : border-box;
  font-family: var(--main-font);
  color      : var(--black)
}



html {
  font-family     : var(--main-font);
  background-color: var(--white);
  max-width       : 1400px;
  width: 100%;
  padding         : 0;
  margin          : 0;
  overflow-x      : hidden;
}


body {
  display        : flex;
  justify-content: center;
  justify-self   : center;
  align-items    : center;
  flex-direction : column;
  margin         : 0;
}

h1 {
  font-size: 6.25rem;
}

h2 {
  font-size: 5.625rem;

}

h3 {
  font-size: 3.125rem;

}

p {
  font-size: 1.125rem;

}

header {
  width: 100vw;  
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: .5rem;
  margin: 1rem;
}

.p-btn {
  font-size      : 1rem;
  text-decoration: none;
}

.flex-container-column {
  /*elementos uno arriba de otro como columnas.*/
  display        : flex;
  justify-content: center;
  justify-self   : center;
  align-items    : center;
  flex-direction : column;
  margin         : 0;
}


.flex-container-row {
  display        : flex;
  justify-content: center;
  justify-self   : center;
  align-items    : center;
  flex-direction : row;
}
