header {
  width : 100vw;
  height: auto;
}

.menu-navbar-container {
  width          : 100vw;
  display        : flex;
  justify-content: center;
  align-items    : center;
  margin         : auto;

}

.menu {
  background-color: var(--strong-greenT3);
  overflow        : hidden;
  position        : relative;
  padding         : 1.3rem;
  width           : 100vw;
  display         : flex;
  justify-content : center;
  align-items     : center;

}



/*btn individual y grupal navbar*/
.btn-nav-bar {
  gap    : .5rem;
  padding: 0;
  margin : 0;

  display    : inline-flex;
  width      : auto;
  min-width  : fit-content;
  white-space: nowrap;

  /*para que el "pseudo elemento ::before se posiciones correctamente*/
  position: relative;
  cursor: pointer;
}

.btns-navbar {
  width          : 1vw;
  height         : 1vh;
  justify-content: center;
  justify-items  : center;
  gap            : 3vw;
  position       : absolute;
  font-size      : clamp(.5, .5vw + .5rem, 1rem);
}

.btns-navbar button {
  border          : none;
  background-color: transparent;
  font-size       : clamp(.5, .5vw + .5rem, 1rem);
}

.btn-nav-bar img {
  width : 30px;
  height: 30px;
}



.btn-nav-bar::before {
  content         : "";
  position        : absolute;
  bottom          : 0;
  left            : 50%;
  width           : 0;
  height          : 3px;
  background-color: var(--cyberpunk-yellow);
  transition      : width 0.8s ease, left 0.8s ease;
}

.btn-nav-bar:hover::before {
  width: 100%;
  left : 0;
}




/*--- burger menu ---*/

.menu-burger {
  position       : fixed;
  width          : 100%;
  display        : flex;
  flex-direction : row;
  justify-content: flex-end;
  justify-self   : center;
  align-items    : center;
  display        : none;
  z-index : 100;



}

.visible {
  display: flex;
}

.menu-burger button {
  border          : none;
  background-color: transparent;
  margin-top      : 3vh;
  margin-right    : 2vw;

  cursor: pointer;
}

.menu-burger img {
  width : 30px;
  height: 30px;
}

.menu-burger-container {
  position: fixed;
  left    : 70vw;
  top     : -9vw;
  z-index : 100;


  /*Donde se coloca el  menu cuando se abre*/
  background-color: var(--strong-greenT);
  border-radius   : 50vw;

  width       : clamp(15rem, 15vw + 15rem, 31.25rem);
  aspect-ratio: 1/1;
  max-width   : 500px;
  max-height  : 500px;

  display        : flex;
  align-items    : center;
  justify-content: center;
  overflow       : hidden;


}

.menu-burger-content {
  display         : flex;
  flex-direction  : column;
  align-items     : flex-start;
  justify-content : flex-start;
  gap             : 10px;
  width           : auto;
  white-space     : nowrap;
  padding-top     : 3rem;
  /* 
  position        : fixed;
  left            : clamp(90vw, 6vw + 6rem, 85vw); 
  top             : clamp(10vh, 6.5vh + 6rem, 6vh);  */
}

.p-btn {
  color     : var(--black);
  font-size : clamp(.5rem, .25vw + .9rem, 1.8rem);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.menu-burger-content button {
  border          : none;
  background-color: transparent;
}

.p-btn:hover {
  color      : var(--cyberpunk-yellow);
  transform  : scale(1.2);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}

@media (max-width: 910px) {
  header {
    background: none;
  }

  .menu {
    display: none;
  }

}

@media(max-width:800px) {

  .menu-burger-container {
    align-items    : left;
    justify-content: left;
    padding-left   : 3rem;
  }
}